body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(202, 195, 195);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    border: none;
    border-radius: 15px;
    background-color: rgb(122, 122, 192);
    height: auto;
    width: 35vw;
    box-shadow: 4px 5px 6px;
}
.header{
    text-align: center;
    padding: 10px;
    font-size: 1.7rem;
    font-weight: bolder;
    border-bottom: .5px solid white;
    margin-bottom: 20px;
}
.addTask{
    display: flex;
    justify-content: space-evenly;
}
input{
    padding: 7px;
    border-radius: 5px;
}
button:hover{
    border: 1px solid black;
    box-shadow: 3px 3px 3px;
}
button{
background-color: rgb(244,242,153);
border-radius: 5px;
padding: 4px;
color: rgb(11, 11,11);
}
ul{
    list-style: none;
    padding: 10px;
}
li{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 7px;
    background-color: rgb(66, 66, 245);
}